.container {
  margin: 50px auto 0;
  width: 700px;
}

.u-float-right {
  float: right;
}

.subtle {
  color: #888;
}
.subtle_margin {
  margin-left: 10px;
}

.card-media {
  border-radius: 2px;
  background: #eafbeb87;
  box-shadow: 0 2px 8px rgba(4, 55, 39, 0.87);
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}
.card-media_border {
  border-bottom: 1.5px dashed;
}

.card-media-title {
  height: auto;
  font-size: 1.15em;
  padding: 10px;
  background: #c1c1c1;
}
.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.8);
}
.card-media-title-heading {
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
}
.card-media-object-container {
  float: left;
  width: 35%;
  display: flex;
  padding: 12px 15px;
  flex-direction: column;
}

.card-media-object-tag {
  padding: 2px 7px;
  margin: 10px 0;
}

.card-media-body {
  /* float: left; */
  padding: 12px 15px;
  /* position: relative; */
  /* width: 75%; */
}
.card-media-title-price{
    display: block;
    height: 20px;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
}

.card-media-body-supporting-bottom {
  margin-top: 10px;
  padding: 0 15px 0 0;
  height: 50px;
}

.card-media-link {
  color: #41c1f2;
  text-decoration: none;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
