.title-card{
    display: flex;
    margin: 20px 0;
}

@media (max-width: 550px) {
    .title-card{
        display: block;
    }
}

.title-card__article{
    margin: 0 50px;
}

.title-card__ratting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-text{
    margin: 0;
}