.btn-paginate {
    width: 40px;
    border: 1px solid;
    padding: 8px 0;
    border: none;
    border-radius: 2px;
    margin: 0 5px;
}

.btn-usual{
    background: #9ac2b2;
}

.paginate {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.btn-paginate_current{
    background: #333333;
}