.article__image {
	border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px;
    width: 200px;
}

.article{
    padding: 10px 25px;
    border-bottom: 1px solid;
}
.article__text{
    margin: 0 0 10px 0;
}
.article__content{
    display: grid;
    height: 200px;
    grid-template-columns: 0.3fr 1fr;
}
.article__button{
	background: #eb6c1f;
    padding: 5px 15px;
    border-radius: 8px;
    position: absolute;
    right: 50px;
}
.article_grey{
	background: #cac9c9;
}
.content__text{
    position: relative;
}