.header {
	color: white;
    position: relative;
}
.header__up{
    background: #ED8919FF;
    padding-bottom: 15px;
}
.header__down {
    margin: -5px 5%;
}
.down{
    height: 15px;
    background: #ed8919;
    border-radius: 0 0 15px 15px;
}
.header__title{
	padding: 15px 50px;
    margin-left: 25px;
}
.headline__h1{
	margin-bottom: 0;
}
.headline__h4{
	margin-top:0; 
}
.header__nav_top-left{
	position: absolute;
    right: 100px;
    background: #9c6a2b94;
    border-radius: 0 0 15px 15px;
}

.search-form_ritght{
	position: absolute;
    right: 100px;
    top: 100px;
}
.search-form__input{
	padding: 5px 0 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius:  10px 0 0 10px ;
}

.search-form__button{
	padding: 5px;
    border-radius: 0 10px 10px 0;
    background: #be5125;
    border: 1px solid #c76e10;
}


