.main{
	    display: grid;
    grid-template-areas: "header header" "article aside";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 0.4fr;
    grid-gap: 0 10px;
}

.main__nav{
	grid-area: header;
}
.main__article {
	grid-area: article;
}
.main__aside {
	grid-area: aside;
	background: #e4dfdf;
	padding: 0 15px;
}

