.main{
	display: grid;
    grid-template-areas: "header header" "article aside";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 0.4fr;
    grid-gap: 0 10px;
}
.main_center{
	margin-left: 50px;
	margin-right: 40px;
}
.main__menu{
	 margin-left: 25px;
}
.main__nav{
	grid-area: header;
	border-bottom: 1px solid;
}
.main__article {
	grid-area: article;
    /*margin-left: 50px;*/
}
.main__aside {
	grid-area: aside;
	background: #e4dfdf;
	padding: 0 15px;
	/*margin-right: 40px;*/
}

.main__burger {
	 display: none;
    color: #ffffff;
    font-size: 1.5rem;
    top: 150px;
    background: #2e1121;
    left: 0;
    padding: 0 5px;
    display: po;
    position: absolute;
}
.sidebar__burger{
	position: absolute;
    color: #464343;
    background: #00b8ff;
    padding: 0 5px;
    font-size: 1.5rem;
    display: none;
    right: 0;
    top: 150px;
}
#burger__menu {
    display: none;
    right: 3rem;
    top: 3rem;
}
#burger__left{
	display: none;
}

