.menu {
	display: flex;
    list-style: none;
}
.menu_smal{
    font-size: 14px;
}
.item{
	padding: 3px;
}
.item:hover{
	background: #5F9793FF;
}
.item_border{
	border-right: 1px solid;
	padding-right:  10px;
}
.menu__item {
    margin-right: 10px;
}
.href{
	text-decoration: none;
	color: #2b1e1e;
}
.href_orange{
	color: #862712FF
}
.href_current{
	font-weight: bold;
}
.href_white{
	color: white;
}
.icon{
	font-size: 16px;
}
.menu__icon{
	margin-right: 5px;
}
