@media (max-width: 767px)  {
	.article__image{
		width: 100px;
		height: 100px;
	}
	.main{
		display: block;
	}
	.footer{
		margin: 10px 0 0 0;
	}
	
}
@media (max-width: 480px){
	.main{
		margin: 0;
	}
}

@media (max-width: 767px){
	.sidebar__burger{
		display: inline-block;
	}
	.main__aside{
		display: none;
	}
	#burger__left:checked~.main__aside {
	    display: block;
	    position: absolute;
	    top: rem;
	    right: 0;
	    top: 180px;
	    background-color: #565954;
	    z-index: 999;
	    width: 250px;
	}
}

@media (max-width: 620px){
	.main__menu{
		display: none;
	}
	.nav__icon{
		display: block;
	}
	.main__burger {
    display: inline-block;
	}
	#burger__menu:checked~.main__menu {
	    display: block;
	    position: absolute;
	    top: rem;
	    background-color: #565954;
	    z-index: 999;
	    margin: 0;
	    left: 0;
	    top: 180px;
	    width: 200px;
	    font-size: 1.2em;
	    padding: 0 10px;
	}
	.menu__href_orange{
		color: #fff;
	}
	.menu__item_border{
		border-right: 0;
	}
	.header{
		margin-bottom: 55px;
	}
}

@media (min-width: 1400px) and (max-width: 1600px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1600px) and (max-width: 2699px) {
	html {
		font-size: 20px;
	}
}