.navigation {
  background: #52635e;
  width: 100%;
  text-align: center;
}
.navigation a {
  text-decoration: none;
  color: #fcfff5;
  padding: 12px 40px 20px;
}
.nav-active {
  background: #a2b8c7;
}
@media (max-width: 856px) {
  .navigation a {
    padding: 12px 20px 20px;
  }
}

@media (max-width: 650px) {
  .navigation a {
    padding: 12px 10px 20px;
  }
}


@media (max-width: 550px) {
  .profile-buttons{
    /* display: none; */
    flex-direction: column;
  }
}
